.nav-menu {
    text-align: left;
    margin: 20px 20px 20px 30px;
}

.nav-spacing {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
}

body, h1, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
}

.float-right {
    float: right;
    margin: 70px 0 20px 20px;
}

body {
    font-family: EB Garamond;
}

.container2 {
    max-width: 950px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 25px;
    vertical-align: top;
}

.left-column {
    font-size: 16px;
    white-space:  nowrap;
}

.logo-container {
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: center; /* Center logos horizontally */
    align-items: center; /* Center logos vertically */
    height: 200px; /* Set the container height as needed */
    background-color:  #e4d4c8; /* Background color for the container */
  }

  .instagram-logo img {
    width: 50px; /* Set the width of the Instagram logo image */
  }

  .linkedin-logo img {
    width: 50px; /* Set the width of the Instagram logo image */
  }