
.html {
    font-size: 24px;
}

* {
    box-sizing: border-box;
  }

body, h1, p, ul, ol, li, .container1, .container2, .text, .image {
    margin: 0;
    padding: 0;
}

body {
    font-family: EB Garamond;
    padding: 20px;
    background: #f1f1f1;
}

.top-space {
    margin-top: 150px;
}

.nav-menu {
    text-align: right;
    margin: 40px 70px 20px 30px;
    font-weight: bolder;
}

.nav-spacing {
    padding: 8px;
    text-decoration: none;
    font-size: 1rem;
}

.container1 {
    max-width: 950px;
    margin: auto;
}

.text {
    float: left;
    font-size: 2rem; 
    width: 50%;
}

.indented-text {
    padding-left: 200px; 
    padding-right: 200px; 
    font-size: 1rem;
  }

.image {
    float: right;
    width: 50%;
    height: auto;
    max-width: 100%;
}

.container2 {
    max-width: 950px;
    margin: auto;
    font-size: 1.50rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 25px;
    vertical-align: top;
}

.left-column {
    font-size: 1.25rem;
    white-space:  nowrap;
}
.instagram-logo img {
    width: 50px; /* Set the width of the Instagram logo image */
  }

.linkedin-logo img {
    width: 50px; /* Set the width of the Instagram logo image */
  }

.header {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background: whitesmoke;
    font-weight: bolder;
  }

.footer {
    padding: 60px;
    text-align: center;
    background: whitesmoke;
    margin-top: 40px;
  }

.leftcolumn {
    float: left;
    width: 75%;
    margin-top: 0;
    padding-left: 60px;
  }

.rightcolumn {
    float: left;
    width: 25%;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 60px; 
    }

.card {
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
    font-size: 1rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.blogimg {
    padding: 20px;
    align-items: center;
    max-width: 100%;
}

@media screen and (max-width: 800px) {
.leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
    }
}