
.html {
    font-size: 16px;
}

body {
    font-family: EB Garamond;
}

body, h1, p, ul, ol, li, .container1, .text, .image {
    margin: 0;
    padding: 0;
}

.top-space {
    margin-top: 150px;
}

.nav-menu {
    text-align: left;
    margin: 20px 20px 20px 30px;
}

.nav-spacing {
    padding: 8px;
    text-decoration: none;
    font-size: 1rem;
}

.container1 {
    overflow: hidden;
    max-width: 1100px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.text {
    float: left;
    font-size: 2rem; 
    width: 50%;
}

.image {
    float: right;
    width: 50%;
}

.container2 {
    max-width: 950px;
    margin: 0 auto;
    font-size: 1.50rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 25px;
    vertical-align: top;
}

.left-column {
    font-size: 1.25rem;
    white-space:  nowrap;
}

.logo-container {
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: center; /* Center logos horizontally */
    align-items: center; /* Center logos vertically */
    height: 200px; /* Set the container height as needed */
    background-color:  #e4d4c8; /* Background color for the container */
  }

  .instagram-logo img {
    width: 50px; /* Set the width of the Instagram logo image */
  }

  .linkedin-logo img {
    width: 50px; /* Set the width of the Instagram logo image */
  }