---
---

  @import 'https://fonts.googleapis.com/css2?family=DM+Sans&family=EB+Garamond&display=swap';

  body {
    font-family: 'EB Garamond';
  }

  h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
    font-family: 'EB Garamond';
}

$background-color: #f1f1f1;
